<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	        <property name="nep.log.path" value="${CATALINA_HOME}/logs" />

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${nep.log.path}/nep_fn_api.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${nep.log.path}/archived/nep_fn_api.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE-ROLLING" />
	</appender>
	
	<appender name="AUDIT-FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${nep.log.path}/nep_fn_api_audit.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS}|%t|%msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${nep.log.path}/archived/nep_fn_api_audit.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="AUDIT-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="AUDIT-FILE-ROLLING" />
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" additivity="false">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="com.mobinets" level="debug"  additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</logger>
	
	<logger name="org.apache.http" level="debug"  additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</logger>
	
	<logger name="operation-audit" level="debug"  additivity="false">
		<appender-ref ref="AUDIT-ASYNC" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</root>

</configuration>
